<!-- Start Sec -->
<div class="sec-header">
  <div class="container">
      <ul class="nav justify-content-around">
          <div>
              <div class="navbar-brand">
                  <p>About 12,2525,2525 filtered Result</p>
              </div>
          </div>
        <!-- Start Textbox Search -->
        <div class="mt-auto mb-auto">
          <form>
            <div class="form-row align-items-center">
                <li class="nav-item">
                    <div ngbDropdown class="d-inline-block ">
                      <a class="  nav-link btn" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</a>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem>Action - 1</button>
                        <button ngbDropdownItem>Another Action</button>
                        <button ngbDropdownItem>Something else is here</button>
                      </div>
                    </div>
                  </li>
            </div>
          </form>
        </div>
        <!-- End Textbox search -->
      </ul>
      <!-- End Container -->
    </div>
</div>
<!-- end Sec -->
