.header {
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.15) !important;
  background: #fff;
}

.header ul .navbar-brand {
  margin-right: 7rem;
}

.header ul form input {
  width: 411px;
}

.header ul form .input-group-prepend .btn {
  border: 1px solid #ced4da !important;
}
