.header{
    box-shadow: 0 .2rem 1rem rgba(0,0,0,.15)!important;
    background: #fff;
    input:focus, textarea:focus, select:focus{
          outline: none !important;
    outline-color: transparent !important;
    border-color: #d2cfcf;
    box-shadow: 0 0 0 0;

    }
    ul {
        fa-icon{
                color: #bfbebe;
        }
        .navbar-brand{
            margin-right: 7rem;
            .big{
                display: block;
            }
            .small{
                display: none;
            }
        }
        form{
            input{
                width: 411px;

            }
            .input-group-prepend{
                .btn{
                    border: 1px solid #ced4da!important;
                }
            }
        }
    }
}

@media (max-width:1024px){
    .header{
        ul {
            .navbar-brand{
               margin: 0;

            }
        
        }
    } 
}

@media (max-width:767px) {
    .header{
        ul{

           form{
            input{
                width: 277px ;
              
            }
        }
        }
    }
}
@media (max-width: 520px){
     .header{
        ul{

           form{
            input{
                width: 209px ;
              
            }
        }
        }
    }
}


@media (max-width: 440px) {
    .header{
        box-shadow: 0 .2rem 1rem rgba(0,0,0,.15)!important;
        background-color: #f00; 
        ul {
            .logo{
                width: 25%;
                .navbar-brand{
                   margin: 0;
                   .big{
                       display: none;
                   }
                   .small{
                       display: block;
                       height: 50px;
                       width: 66px;
                   }
                }
            }
            .enter-data{
                width: 75%;
                form{
                    input{
                        width: 68%;
                        border-radius: inherit;
                    }
                    .input-group-prepend{
                        
                        .btn{
                            background: #f00 !important;
                            border: none !important;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
} 