<!-- Fixed Header -->
<div class="header  fixed-top">
  <!-- Container -->
  <div class="container">
    <ul class="nav justify-content-center">
        <div>

            <a class="navbar-brand" href="#">
                 
                <img src="assets/logo.png" alt="logo" width="155" height="65">
            </a>
        </div>
      <!-- Start Textbox Search -->
      <div class="mt-auto mb-auto">
        <form>
          <div class="form-row align-items-center">
            <div class="col-auto">
              <label class="sr-only" for="inlineFormInputGroup">Search</label>
              <div class="input-group ">
                <input
                  type="text"
                  class="form-control"
                  id="inlineFormInputGroup"
                  placeholder="search"
                  [(ngModel)]="search"
                  name="search"
              
                />
                <div class="input-group-prepend">
                  <button type="submit" class="btn bg-light " (click)="onSearch()">
                      Search
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- End Textbox search -->
    </ul>
    <!-- End Container -->
  </div>
  <!-- End Fixed Header -->
</div>
