<!-- Start Main Section -->
<div class="main">
    <!-- Loading icon -->
    <div class="loading" *ngIf="loading">
            <fa-icon [icon]="faSpinner"></fa-icon>
            <p>
                Loading
            </p>
    </div>
    <!-- Start Container -->
    <div class="container">
        <!-- Start list Items -->
        <ul class="list-unstyled item-post pt-2">
            <li *ngFor="let item of items" class="mb-2">
                <a href="https://www.youtube.com/watch?v={{item.id.videoId}}" >
                    <div class=" d-flex justify-content-start">
                        <!-- Left Data Side -->
                        <div class="left-data mr-2">
                            
                            <img src={{item.snippet.thumbnails.medium.url}}  height="150">
                        </div>
                        <!-- Left Data Side -->
                        <div class="right-data">
                        <div class="main-title">
                                <h4 class="m-0">
                                        {{item.snippet.title}}
                                    </h4>
                                    <span class="metadata ">
                                        {{item.snippet.channelTitle  }}  
                                        <span class="ml-2">{{item.snippet.publishedAt | date:'mediumDate' }}</span>
                                    </span>
                        </div>
                             <div class="description mt-2 mobile">
                                    <p>
                                            {{item.snippet.description}}
                                        </p>
         
                             </div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>

    </div>
</div>


